name: Deploy Production EC2

on:
  push:
    branches:
      - main

jobs:

  deploy:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:

      - uses: actions/checkout@v4

      - run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - run: docker build -t ghcr.io/${{ github.repository }}:latest .

      - run: docker push ghcr.io/${{ github.repository }}:latest

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      - uses: hashicorp/setup-terraform@v3

      - run: |
          cd terraform
          terraform init

      - name: Terraform Apply
  run: |
    cd terraform
    terraform apply \
      -var-file=environments/dev/terraform.tfvars \
      -var="github_username=${{ github.actor }}" \
      -var="github_token=${{ secrets.GHCR_TOKEN }}" \
      -auto-approve