name: Destroy Ephemeral EC2

on:
pull_request:
types:
- closed

jobs:
destroy:
runs-on: ubuntu-latest

```
permissions:
  contents: read

steps:

  # Checkout repository
  - name: Checkout repository
    uses: actions/checkout@v4

  # Set safe branch name (same logic as deploy)
  - name: Set safe branch name
    run: echo "SAFE_BRANCH=${GITHUB_HEAD_REF//\//-}" >> $GITHUB_ENV

  # Configure AWS credentials
  - name: Configure AWS credentials
    uses: aws-actions/configure-aws-credentials@v4
    with:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
      aws-region: ap-south-1

  # Setup Terraform
  - name: Setup Terraform
    uses: hashicorp/setup-terraform@v3

  # Terraform Init (same backend key used during deploy)
  - name: Terraform Init
    working-directory: terraform
    run: |
      terraform init \
        -backend-config="bucket=social-connect-terraform-state" \
        -backend-config="key=ephemeral/${{ env.SAFE_BRANCH }}.tfstate" \
        -backend-config="region=ap-south-1"

  # Terraform Destroy
  - name: Terraform Destroy EC2
    working-directory: terraform
    run: |
      terraform destroy \
        -var-file=environments/ephemeral/terraform.tfvars \
        -var="env_name=${{ env.SAFE_BRANCH }}" \
        -var="image_tag=${{ env.SAFE_BRANCH }}" \
        -var="github_username=${{ github.actor }}" \
        -var="github_token=${{ secrets.GHCR_TOKEN }}" \
        -auto-approve
```
