name: Destroy Ephemeral EC2

on:
  pull_request:
    types:
      - closed

jobs:
  destroy:

    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set safe branch name
        run: echo "SAFE_BRANCH=${GITHUB_HEAD_REF//\//-}" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform
          terraform init \
            -backend-config="bucket=social-connect-terraform-state" \
            -backend-config="key=ephemeral/${{ env.SAFE_BRANCH }}.tfstate" \
            -backend-config="region=ap-south-1"

      - name: Terraform Destroy EC2
        run: |
          cd terraform
          terraform destroy \
            -var-file=environments/ephemeral/terraform.tfvars \
            -var="env_name=${{ env.SAFE_BRANCH }}" \
            -var="image_tag=${{ env.SAFE_BRANCH }}" \
            -var="github_username=${{ github.actor }}" \
            -var="github_token=${{ secrets.GHCR_TOKEN }}" \
            -auto-approve